In [1]:
import pandas as pd

pd.set_option('display.max_columns', None)

In [2]:
df_trated_movies = pd.read_csv('Arquivos/movie_trated.csv', index_col='imdb_title_id', parse_dates=['date_published'])
df_ratings = pd.read_csv('Arquivos/ratings.csv', index_col='imdb_title_id')

In [3]:
df_trated_movies.head()

,original_title,year,date_published,genre,duration,country,director,writer,production_company,actors,description,avg_vote,votes
imdb_title_id,,,,,,,,,,,,,
tt0000009,Miss Jerry,1894,1894-10-09,Romance,45,USA,Alexander Black,Alexander Black,Alexander Black Photoplays,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154
tt0000574,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,Charles Tait,Charles Tait,J. and N. Tait,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589
tt0001892,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",Urban Gad,"Urban Gad, Gebhard Schätzler-Perasini",Fotorama,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.8,188
tt0002101,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,Charles L. Gaskill,Victorien Sardou,Helen Gardner Picture Players,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446
tt0002130,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,"Francesco Bertolini, Adolfo Padovan",Dante Alighieri,Milano Film,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2237

In [4]:
df_trated_movies.info()

<class 'pandas.core.frame.DataFrame'>
Index: 80162 entries, tt0000009 to tt9914942
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   original_title      80162 non-null  object
 1   year                80162 non-null  int64
 2   date_published      80162 non-null  datetime64[ns]
 3   genre               80162 non-null  object
 4   duration            80162 non-null  int64
 5   country             80162 non-null  object
 6   director            80162 non-null  object
 7   writer              80162 non-null  object
 8   production_company  80162 non-null  object
 9   actors              80162 non-null  object
 10  description         80162 non-null  object
 11  avg_vote            80162 non-null  float64
 12  votes               80162 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(3), object(8)
memory usage: 8.6+ MB

In [5]:
df_trated_movies.isnull().sum()

original_title        0
year                  0
date_published        0
genre                 0
duration              0
country               0
director              0
writer                0
production_company    0
actors                0
description           0
avg_vote              0
votes                 0
dtype: int64

In [6]:
df_ratings.isnull().sum()

weighted_average_vote          0
allgenders_18age_avg_vote    706
allgenders_30age_avg_vote     10
allgenders_45age_avg_vote     80
males_allages_avg_vote         1
females_allages_avg_vote      81
dtype: int64

In [7]:
df_ratings.head()

,weighted_average_vote,allgenders_18age_avg_vote,allgenders_30age_avg_vote,allgenders_45age_avg_vote,males_allages_avg_vote,females_allages_avg_vote
imdb_title_id,,,,,,
tt0000009,5.9,6.0,5.7,6.6,6.2,6.0
tt0000574,6.1,6.1,6.0,6.3,6.1,6.2
tt0001892,5.8,5.5,5.8,6.2,5.9,5.7
tt0002101,5.2,5.3,5.0,5.3,5.1,5.9
tt0002130,7.0,7.0,7.0,7.1,7.0,7.2

In [8]:
df_movie_ratings_treatment = pd.merge(df_trated_movies, df_ratings, left_index=True, right_on='imdb_title_id')

In [9]:
df_movie_ratings_treatment.isnull().sum()

original_title                 0
year                           0
date_published                 0
genre                          0
duration                       0
country                        0
director                       0
writer                         0
production_company             0
actors                         0
description                    0
avg_vote                       0
votes                          0
weighted_average_vote          0
allgenders_18age_avg_vote    676
allgenders_30age_avg_vote      3
allgenders_45age_avg_vote     62
males_allages_avg_vote         0
females_allages_avg_vote      62
dtype: int64

In [10]:
df_movie_ratings_treatment.drop(df_movie_ratings_treatment[df_movie_ratings_treatment['allgenders_18age_avg_vote'].isnull() == True].index, inplace=True)
df_movie_ratings_treatment.drop(df_movie_ratings_treatment[df_movie_ratings_treatment['allgenders_45age_avg_vote'].isnull() == True].index, inplace=True)
df_movie_ratings_treatment.drop(df_movie_ratings_treatment[df_movie_ratings_treatment['females_allages_avg_vote'].isnull() == True].index, inplace=True)

In [11]:
df_movie_ratings_treatment.isnull().sum()

original_title               0
year                         0
date_published               0
genre                        0
duration                     0
country                      0
director                     0
writer                       0
production_company           0
actors                       0
description                  0
avg_vote                     0
votes                        0
weighted_average_vote        0
allgenders_18age_avg_vote    0
allgenders_30age_avg_vote    0
allgenders_45age_avg_vote    0
males_allages_avg_vote       0
females_allages_avg_vote     0
dtype: int64

In [12]:
df_movie_ratings_treatment.info()

<class 'pandas.core.frame.DataFrame'>
Index: 79379 entries, tt0000009 to tt9914942
Data columns (total 19 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   original_title             79379 non-null  object
 1   year                       79379 non-null  int64
 2   date_published             79379 non-null  datetime64[ns]
 3   genre                      79379 non-null  object
 4   duration                   79379 non-null  int64
 5   country                    79379 non-null  object
 6   director                   79379 non-null  object
 7   writer                     79379 non-null  object
 8   production_company         79379 non-null  object
 9   actors                     79379 non-null  object
 10  description                79379 non-null  object
 11  avg_vote                   79379 non-null  float64
 12  votes                      79379 non-null  int64
 13  weighted_average_vote      79379 non-null  float64
 14  allgenders_18age_avg_vote  79379 non-null  float64
 15  allgenders_30age_avg_vote  79379 non-null  float64
 16  allgenders_45age_avg_vote  79379 non-null  float64
 17  males_allages_avg_vote     79379 non-null  float64
 18  females_allages_avg_vote   79379 non-null  float64
dtypes: datetime64[ns](1), float64(7), int64(3), object(8)
memory usage: 12.1+ MB

In [13]:
df_movie_ratings_treatment.to_csv('Arquivos/MovieRatings.csv')

---

In [2]:
df_movie_ratings = pd.read_csv('Arquivos/MovieRatings.csv', index_col='imdb_title_id', parse_dates=['date_published'])
df_movie_ratings.info()

<class 'pandas.core.frame.DataFrame'>
Index: 79379 entries, tt0000009 to tt9914942
Data columns (total 19 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   original_title             79379 non-null  object
 1   year                       79379 non-null  int64
 2   date_published             79379 non-null  datetime64[ns]
 3   genre                      79379 non-null  object
 4   duration                   79379 non-null  int64
 5   country                    79379 non-null  object
 6   director                   79379 non-null  object
 7   writer                     79379 non-null  object
 8   production_company         79379 non-null  object
 9   actors                     79379 non-null  object
 10  description                79379 non-null  object
 11  avg_vote                   79379 non-null  float64
 12  votes                      79379 non-null  int64
 13  weighted_average_vote      79379 non-null  float64
 14  allgenders_18age_avg_vote  79379 non-null  float64
 15  allgenders_30age_avg_vote  79379 non-null  float64
 16  allgenders_45age_avg_vote  79379 non-null  float64
 17  males_allages_avg_vote     79379 non-null  float64
 18  females_allages_avg_vote   79379 non-null  float64
dtypes: datetime64[ns](1), float64(7), int64(3), object(8)
memory usage: 12.1+ MB

In [3]:
df_movie_ratings.head()

,original_title,year,date_published,genre,duration,country,director,writer,production_company,actors,description,avg_vote,votes,weighted_average_vote,allgenders_18age_avg_vote,allgenders_30age_avg_vote,allgenders_45age_avg_vote,males_allages_avg_vote,females_allages_avg_vote
imdb_title_id,,,,,,,,,,,,,,,,,,,
tt0000009,Miss Jerry,1894,1894-10-09,Romance,45,USA,Alexander Black,Alexander Black,Alexander Black Photoplays,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,5.9,6.0,5.7,6.6,6.2,6.0
tt0000574,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,Charles Tait,Charles Tait,J. and N. Tait,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,6.1,6.1,6.0,6.3,6.1,6.2
tt0001892,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",Urban Gad,"Urban Gad, Gebhard Schätzler-Perasini",Fotorama,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.8,188,5.8,5.5,5.8,6.2,5.9,5.7
tt0002101,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,Charles L. Gaskill,Victorien Sardou,Helen Gardner Picture Players,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446,5.2,5.3,5.0,5.3,5.1,5.9
tt0002130,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,"Francesco Bertolini, Adolfo Padovan",Dante Alighieri,Milano Film,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2237,7.0,7.0,7.0,7.1,7.0,7.2

In [5]:
df_movie_ratings['genre'] = df_movie_ratings['genre'].str.rstrip().apply(lambda x: x.replace(" ", ""))
genre = list(df_movie_ratings['genre'][~df_movie_ratings['genre'].str.contains(',')].unique())

In [8]:
genre

['Romance',
 'Drama',
 'Western',
 'Comedy',
 'Horror',
 'Adventure',
 'Mystery',
 'Sci-Fi',
 'Thriller',
 'Crime',
 'Musical',
 'Fantasy',
 'Biography',
 'Action',
 'War',
 'Family',
 'History',
 'Music',
 'Animation',
 'Sport']

In [ ]:
# Verificar se o genre existe na lista de genero (conatins).
nome = '|'.join(genre)
df_movie_ratings['different_genre'] = df_movie_ratings.genre.str.contains(nome)
df_movie_ratings.query("different_genre == False")

In [ ]:
df_movie_ratings.drop(columns=['different_genre'], inplace=True)

In [9]:
new_cols = genre
df_movie_ratings = df_movie_ratings.assign(**dict.fromkeys(new_cols, 0))

In [10]:
df_movie_ratings

,original_title,year,date_published,genre,duration,country,director,writer,production_company,actors,description,avg_vote,votes,weighted_average_vote,allgenders_18age_avg_vote,allgenders_30age_avg_vote,allgenders_45age_avg_vote,males_allages_avg_vote,females_allages_avg_vote,Romance,Drama,Western,Comedy,Horror,Adventure,Mystery,Sci-Fi,Thriller,Crime,Musical,Fantasy,Biography,Action,War,Family,History,Music,Animation,Sport
imdb_title_id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
tt0000009,Miss Jerry,1894,1894-10-09,Romance,45,USA,Alexander Black,Alexander Black,Alexander Black Photoplays,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,5.9,6.0,5.7,6.6,6.2,6.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
tt0000574,The Story of the Kelly Gang,1906,1906-12-26,"Biography,Crime,Drama",70,Australia,Charles Tait,Charles Tait,J. and N. Tait,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,6.1,6.1,6.0,6.3,6.1,6.2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
tt0001892,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",Urban Gad,"Urban Gad, Gebhard Schätzler-Perasini",Fotorama,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.8,188,5.8,5.5,5.8,6.2,5.9,5.7,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
tt0002101,Cleopatra,1912,1912-11-13,"Drama,History",100,USA,Charles L. Gaskill,Victorien Sardou,Helen Gardner Picture Players,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446,5.2,5.3,5.0,5.3,5.1,5.9,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
tt0002130,L'Inferno,1911,1911-03-06,"Adventure,Drama,Fantasy",68,Italy,"Francesco Bertolini, Adolfo Padovan",Dante Alighieri,Milano Film,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2237,7.0,7.0,7.0,7.1,7.0,7.2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt9905462,Pengalila,2019,2019-03-08,Drama,111,India,T.V. Chandran,T.V. Chandran,Benzy Productions,"Lal, Akshara Kishor, Iniya, Narain, Renji Pani...",An unusual bond between a sixty year old Dalit...,8.8,553,8.8,7.0,4.0,6.0,5.9,10.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
tt9908390,Le lion,2020,2020-01-29,Comedy,95,"France, Belgium",Ludovic Colbeau-Justin,"Alexandre Coquelle, Matthieu Le Naour",Monkey Pack Films,"Dany Boon, Philippe Katerine, Anne Serra, Samu...",A psychiatric hospital patient pretends to be ...,5.3,398,5.3,5.8,5.3,5.2,5.3,6.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
tt9911196,De Beentjes van Sint-Hildegard,2020,2020-02-13,"Comedy,Drama",103,Netherlands,Johan Nijenhuis,"Radek Bajgar, Herman Finkers",Johan Nijenhuis & Co,"Herman Finkers, Johanna ter Steege, Leonie ter...",A middle-aged veterinary surgeon believes his ...,7.7,724,7.7,7.5,7.7,7.9,7.8,7.6,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
tt9914286,Sokagin Çocuklari,2019,2019-03-15,"Drama,Family",98,Turkey,Ahmet Faik Akinci,"Ahmet Faik Akinci, Kasim Uçkan",Gizem Ajans,"Ahmet Faik Akinci, Belma Mamati, Metin Keçeci,...",,6.4,194,6.4,6.5,1.8,3.0,3.1,4.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
tt9914942,La vida sense la Sara Amat,2019,2020-02-05,Drama,74,Spain,Laura Jou,"Coral Cruz, Pep Puig",La Xarxa de Comunicació Local,"Maria Morera Colomer, Biel Rossell Pelfort, Is...","Pep, a 13-year-old boy, is in love with a girl...",6.7,102,6.7,6.8,6.5,6.6,6.6,6.9,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [11]:
df_movie_ratings.info()

<class 'pandas.core.frame.DataFrame'>
Index: 79379 entries, tt0000009 to tt9914942
Data columns (total 39 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   original_title             79379 non-null  object
 1   year                       79379 non-null  int64
 2   date_published             79379 non-null  datetime64[ns]
 3   genre                      79379 non-null  object
 4   duration                   79379 non-null  int64
 5   country                    79379 non-null  object
 6   director                   79379 non-null  object
 7   writer                     79379 non-null  object
 8   production_company         79379 non-null  object
 9   actors                     79379 non-null  object
 10  description                79379 non-null  object
 11  avg_vote                   79379 non-null  float64
 12  votes                      79379 non-null  int64
 13  weighted_average_vote      79379 non-null  float64
 14  allgenders_18age_avg_vote  79379 non-null  float64
 15  allgenders_30age_avg_vote  79379 non-null  float64
 16  allgenders_45age_avg_vote  79379 non-null  float64
 17  males_allages_avg_vote     79379 non-null  float64
 18  females_allages_avg_vote   79379 non-null  float64
 19  Romance                    79379 non-null  int64
 20  Drama                      79379 non-null  int64
 21  Western                    79379 non-null  int64
 22  Comedy                     79379 non-null  int64
 23  Horror                     79379 non-null  int64
 24  Adventure                  79379 non-null  int64
 25  Mystery                    79379 non-null  int64
 26  Sci-Fi                     79379 non-null  int64
 27  Thriller                   79379 non-null  int64
 28  Crime                      79379 non-null  int64
 29  Musical                    79379 non-null  int64
 30  Fantasy                    79379 non-null  int64
 31  Biography                  79379 non-null  int64
 32  Action                     79379 non-null  int64
 33  War                        79379 non-null  int64
 34  Family                     79379 non-null  int64
 35  History                    79379 non-null  int64
 36  Music                      79379 non-null  int64
 37  Animation                  79379 non-null  int64
 38  Sport                      79379 non-null  int64
dtypes: datetime64[ns](1), float64(7), int64(23), object(8)
memory usage: 24.2+ MB

In [13]:
for i in range(0, len(df_movie_ratings)):
    lista = df_movie_ratings['genre'][i].split(',')
    df_movie_ratings.loc[df_movie_ratings.index[i], lista] = int(1)

In [14]:
df_movie_ratings

,original_title,year,date_published,genre,duration,country,director,writer,production_company,actors,description,avg_vote,votes,weighted_average_vote,allgenders_18age_avg_vote,allgenders_30age_avg_vote,allgenders_45age_avg_vote,males_allages_avg_vote,females_allages_avg_vote,Romance,Drama,Western,Comedy,Horror,Adventure,Mystery,Sci-Fi,Thriller,Crime,Musical,Fantasy,Biography,Action,War,Family,History,Music,Animation,Sport,Film-Noir,Documentary,Reality-TV,News
imdb_title_id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
tt0000009,Miss Jerry,1894,1894-10-09,Romance,45,USA,Alexander Black,Alexander Black,Alexander Black Photoplays,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,5.9,6.0,5.7,6.6,6.2,6.0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN
tt0000574,The Story of the Kelly Gang,1906,1906-12-26,"Biography,Crime,Drama",70,Australia,Charles Tait,Charles Tait,J. and N. Tait,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,6.1,6.1,6.0,6.3,6.1,6.2,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN
tt0001892,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",Urban Gad,"Urban Gad, Gebhard Schätzler-Perasini",Fotorama,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.8,188,5.8,5.5,5.8,6.2,5.9,5.7,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN
tt0002101,Cleopatra,1912,1912-11-13,"Drama,History",100,USA,Charles L. Gaskill,Victorien Sardou,Helen Gardner Picture Players,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446,5.2,5.3,5.0,5.3,5.1,5.9,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,NaN,NaN,NaN,NaN
tt0002130,L'Inferno,1911,1911-03-06,"Adventure,Drama,Fantasy",68,Italy,"Francesco Bertolini, Adolfo Padovan",Dante Alighieri,Milano Film,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2237,7.0,7.0,7.0,7.1,7.0,7.2,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt9905462,Pengalila,2019,2019-03-08,Drama,111,India,T.V. Chandran,T.V. Chandran,Benzy Productions,"Lal, Akshara Kishor, Iniya, Narain, Renji Pani...",An unusual bond between a sixty year old Dalit...,8.8,553,8.8,7.0,4.0,6.0,5.9,10.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN
tt9908390,Le lion,2020,2020-01-29,Comedy,95,"France, Belgium",Ludovic Colbeau-Justin,"Alexandre Coquelle, Matthieu Le Naour",Monkey Pack Films,"Dany Boon, Philippe Katerine, Anne Serra, Samu...",A psychiatric hospital patient pretends to be ...,5.3,398,5.3,5.8,5.3,5.2,5.3,6.0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN
tt9911196,De Beentjes van Sint-Hildegard,2020,2020-02-13,"Comedy,Drama",103,Netherlands,Johan Nijenhuis,"Radek Bajgar, Herman Finkers",Johan Nijenhuis & Co,"Herman Finkers, Johanna ter Steege, Leonie ter...",A middle-aged veterinary surgeon believes his ...,7.7,724,7.7,7.5,7.7,7.9,7.8,7.6,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN
tt9914286,Sokagin Çocuklari,2019,2019-03-15,"Drama,Family",98,Turkey,Ahmet Faik Akinci,"Ahmet Faik Akinci, Kasim Uçkan",Gizem Ajans,"Ahmet Faik Akinci, Belma Mamati, Metin Keçeci,...",,6.4,194,6.4,6.5,1.8,3.0,3.1,4.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,NaN,NaN,NaN,NaN
tt9914942,La vida sense la Sara Amat,2019,2020-02-05,Drama,74,Spain,Laura Jou,"Coral Cruz, Pep Puig",La Xarxa de Comunicació Local,"Maria Morera Colomer, Biel Rossell Pelfort, Is...","Pep, a 13-year-old boy, is in love with a girl...",6.7,102,6.7,6.8,6.5,6.6,6.6,6.9,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN

In [23]:
df_movie_ratings[df_movie_ratings['Documentary'] == 1]

,original_title,year,date_published,genre,duration,country,director,writer,production_company,actors,description,avg_vote,votes,weighted_average_vote,allgenders_18age_avg_vote,allgenders_30age_avg_vote,allgenders_45age_avg_vote,males_allages_avg_vote,females_allages_avg_vote,Romance,Drama,Western,Comedy,Horror,Adventure,Mystery,Sci-Fi,Thriller,Crime,Musical,Fantasy,Biography,Action,War,Family,History,Music,Animation,Sport,Film-Noir,Documentary,Reality-TV,News,different_genre
imdb_title_id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
tt0083193,This Is Elvis,1981,1981-08-18,"Documentary,Biography,Music",101,USA,"Malcolm Leo, Andrew Solt","Malcolm Leo, Andrew Solt",Warner Bros.,"David Scott, Paul Boensch III, Johnny Harra, L...",The life and career of,7.5,1119,7.5,8.0,7.5,7.4,7.4,7.6,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,NaN,1.0,NaN,NaN,True

In [38]:
df_movie_ratings[['Film-Noir', 'Documentary', 'Reality-TV', 'News']] = df_movie_ratings[['Film-Noir', 'Documentary', 'Reality-TV', 'News']].fillna(0)
df_movie_ratings[['Film-Noir', 'Documentary', 'Reality-TV', 'News']] = df_movie_ratings[['Film-Noir', 'Documentary', 'Reality-TV', 'News']]\
                                                                       .astype('int64')

In [45]:
df_movie_ratings[df_movie_ratings['Documentary'] == 1]

,original_title,year,date_published,genre,duration,country,director,writer,production_company,actors,description,avg_vote,votes,weighted_average_vote,allgenders_18age_avg_vote,allgenders_30age_avg_vote,allgenders_45age_avg_vote,males_allages_avg_vote,females_allages_avg_vote,Romance,Drama,Western,Comedy,Horror,Adventure,Mystery,Sci-Fi,Thriller,Crime,Musical,Fantasy,Biography,Action,War,Family,History,Music,Animation,Sport,Film-Noir,Documentary,Reality-TV,News
imdb_title_id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
tt0083193,This Is Elvis,1981,1981-08-18,"Documentary,Biography,Music",101,USA,"Malcolm Leo, Andrew Solt","Malcolm Leo, Andrew Solt",Warner Bros.,"David Scott, Paul Boensch III, Johnny Harra, L...",The life and career of,7.5,1119,7.5,8.0,7.5,7.4,7.4,7.6,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,1,0,0

In [40]:
df_movie_ratings.isnull().sum()

original_title               0
year                         0
date_published               0
genre                        0
duration                     0
country                      0
director                     0
writer                       0
production_company           0
actors                       0
description                  0
avg_vote                     0
votes                        0
weighted_average_vote        0
allgenders_18age_avg_vote    0
allgenders_30age_avg_vote    0
allgenders_45age_avg_vote    0
males_allages_avg_vote       0
females_allages_avg_vote     0
Romance                      0
Drama                        0
Western                      0
Comedy                       0
Horror                       0
Adventure                    0
Mystery                      0
Sci-Fi                       0
Thriller                     0
Crime                        0
Musical                      0
Fantasy                      0
Biography                    0
Action                       0
War                          0
Family                       0
History                      0
Music                        0
Animation                    0
Sport                        0
Film-Noir                    0
Documentary                  0
Reality-TV                   0
News                         0
different_genre              0
dtype: int64

In [44]:
df_movie_ratings.info()

<class 'pandas.core.frame.DataFrame'>
Index: 79379 entries, tt0000009 to tt9914942
Data columns (total 43 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   original_title             79379 non-null  object
 1   year                       79379 non-null  int64
 2   date_published             79379 non-null  datetime64[ns]
 3   genre                      79379 non-null  object
 4   duration                   79379 non-null  int64
 5   country                    79379 non-null  object
 6   director                   79379 non-null  object
 7   writer                     79379 non-null  object
 8   production_company         79379 non-null  object
 9   actors                     79379 non-null  object
 10  description                79379 non-null  object
 11  avg_vote                   79379 non-null  float64
 12  votes                      79379 non-null  int64
 13  weighted_average_vote      79379 non-null  float64
 14  allgenders_18age_avg_vote  79379 non-null  float64
 15  allgenders_30age_avg_vote  79379 non-null  float64
 16  allgenders_45age_avg_vote  79379 non-null  float64
 17  males_allages_avg_vote     79379 non-null  float64
 18  females_allages_avg_vote   79379 non-null  float64
 19  Romance                    79379 non-null  int64
 20  Drama                      79379 non-null  int64
 21  Western                    79379 non-null  int64
 22  Comedy                     79379 non-null  int64
 23  Horror                     79379 non-null  int64
 24  Adventure                  79379 non-null  int64
 25  Mystery                    79379 non-null  int64
 26  Sci-Fi                     79379 non-null  int64
 27  Thriller                   79379 non-null  int64
 28  Crime                      79379 non-null  int64
 29  Musical                    79379 non-null  int64
 30  Fantasy                    79379 non-null  int64
 31  Biography                  79379 non-null  int64
 32  Action                     79379 non-null  int64
 33  War                        79379 non-null  int64
 34  Family                     79379 non-null  int64
 35  History                    79379 non-null  int64
 36  Music                      79379 non-null  int64
 37  Animation                  79379 non-null  int64
 38  Sport                      79379 non-null  int64
 39  Film-Noir                  79379 non-null  int64
 40  Documentary                79379 non-null  int64
 41  Reality-TV                 79379 non-null  int64
 42  News                       79379 non-null  int64
dtypes: datetime64[ns](1), float64(7), int64(27), object(8)
memory usage: 28.7+ MB

In [46]:
df_movie_ratings.to_csv('Arquivos/MovieRatingsTrated.csv')