### - Equity Genre
### - Equity Country
### - Equity Director
### - Equity Writer
### - Equity Company
### - Equity Actor
### - Equity Title

---

In [1]:
%run Functions.ipynb

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79379 entries, 0 to 79378
Data columns (total 43 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   original_title             79379 non-null  object
 1   year                       79379 non-null  int64
 2   date_published             79379 non-null  datetime64[ns]
 3   genre                      79379 non-null  object
 4   duration                   79379 non-null  int64
 5   country                    79379 non-null  object
 6   director                   79379 non-null  object
 7   writer                     79379 non-null  object
 8   production_company         79379 non-null  object
 9   actors                     79379 non-null  object
 10  description                79379 non-null  object
 11  avg_vote                   79379 non-null  float64
 12  votes                      79379 non-null  int64
 13  weighted_average_vote      79379 non-null  float64
 14  allgenders_18age_avg_vote  79379 non-null  float64
 15  allgenders_30age_avg_vote  79379 non-null  float64
 16  allgenders_45age_avg_vote  79379 non-null  float64
 17  males_allages_avg_vote     79379 non-null  float64
 18  females_allages_avg_vote   79379 non-null  float64
 19  Romance                    79379 non-null  int64
 20  Drama                      79379 non-null  int64
 21  Western                    79379 non-null  int64
 22  Comedy                     79379 non-null  int64
 23  Horror                     79379 non-null  int64
 24  Adventure                  79379 non-null  int64
 25  Mystery                    79379 non-null  int64
 26  Sci-Fi                     79379 non-null  int64
 27  Thriller                   79379 non-null  int64
 28  Crime                      79379 non-null  int64
 29  Musical                    79379 non-null  int64
 30  Fantasy                    79379 non-null  int64
 31  Biography                  79379 non-null  int64
 32  Action                     79379 non-null  int64
 33  War                        79379 non-null  int64
 34  Family                     79379 non-null  int64
 35  History                    79379 non-null  int64
 36  Music                      79379 non-null  int64
 37  Animation                  79379 non-null  int64
 38  Sport                      79379 non-null  int64
 39  Film-Noir                  79379 non-null  int64
 40  Documentary                79379 non-null  int64
 41  Reality-TV                 79379 non-null  int64
 42  News                       79379 non-null  int64
dtypes: datetime64[ns](1), float64(7), int64(27), object(8)
memory usage: 26.0+ MB

---

In [2]:
df_movie_ratings.head(5)

,original_title,year,date_published,genre,duration,country,director,writer,production_company,actors,description,avg_vote,votes,weighted_average_vote,allgenders_18age_avg_vote,allgenders_30age_avg_vote,allgenders_45age_avg_vote,males_allages_avg_vote,females_allages_avg_vote,Romance,Drama,Western,Comedy,Horror,Adventure,Mystery,Sci-Fi,Thriller,Crime,Musical,Fantasy,Biography,Action,War,Family,History,Music,Animation,Sport,Film-Noir,Documentary,Reality-TV,News
0,Miss Jerry,1894,1894-10-09,Romance,45,USA,Alexander Black,Alexander Black,Alexander Black Photoplays,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,5.9,6.0,5.7,6.6,6.2,6.0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,The Story of the Kelly Gang,1906,1906-12-26,"Biography,Crime,Drama",70,Australia,Charles Tait,Charles Tait,J. and N. Tait,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,6.1,6.1,6.0,6.3,6.1,6.2,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0
2,Den sorte dr√∏m,1911,1911-08-19,Drama,53,"Germany, Denmark",Urban Gad,"Urban Gad, Gebhard Sch√§tzler-Perasini",Fotorama,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.8,188,5.8,5.5,5.8,6.2,5.9,5.7,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,Cleopatra,1912,1912-11-13,"Drama,History",100,USA,Charles L. Gaskill,Victorien Sardou,Helen Gardner Picture Players,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446,5.2,5.3,5.0,5.3,5.1,5.9,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
4,L'Inferno,1911,1911-03-06,"Adventure,Drama,Fantasy",68,Italy,"Francesco Bertolini, Adolfo Padovan",Dante Alighieri,Milano Film,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2237,7.0,7.0,7.0,7.1,7.0,7.2,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0

### Pesquisa do filme

In [3]:
movie = "Cleopatra" #Escolha um filme

In [4]:
df_movie_ratings[df_movie_ratings['original_title'].str.contains(movie)]

,original_title,year,date_published,genre,duration,country,director,writer,production_company,actors,description,avg_vote,votes,weighted_average_vote,allgenders_18age_avg_vote,allgenders_30age_avg_vote,allgenders_45age_avg_vote,males_allages_avg_vote,females_allages_avg_vote,Romance,Drama,Western,Comedy,Horror,Adventure,Mystery,Sci-Fi,Thriller,Crime,Musical,Fantasy,Biography,Action,War,Family,History,Music,Animation,Sport,Film-Noir,Documentary,Reality-TV,News
3,Cleopatra,1912,1912-11-13,"Drama,History",100,USA,Charles L. Gaskill,Victorien Sardou,Helen Gardner Picture Players,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446,5.2,5.3,5.0,5.3,5.1,5.9,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
88,Cleopatra,1917,1917-10-14,"Biography,Drama,History",125,USA,J. Gordon Edwards,"Adrian Johnson, √âmile Moreau",Fox Film Corporation,"Theda Bara, Fritz Leiber, Thurston Hall, Alan ...","The story of Cleopatra, the fabulous queen of ...",6.5,298,6.5,6.3,6.4,6.9,6.4,7.1,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0
1740,Cleopatra,1934,1934-10-05,"Biography,Drama,History",100,USA,Cecil B. DeMille,"Waldemar Young, Vincent Lawrence",Paramount Pictures,"Claudette Colbert, Warren William, Henry Wilco...",The man-hungry Queen of Egypt leads Julius Cae...,6.8,3331,6.8,6.8,6.7,6.9,6.8,6.9,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0
5046,Caesar and Cleopatra,1945,1947-09-18,"Biography,Comedy,Drama",138,UK,Gabriel Pascal,"George Bernard Shaw, George Bernard Shaw",Gabriel Pascal Productions,"Claude Rains, Vivien Leigh, Stewart Granger, F...","At the height of the Roman Civil War, a young ...",6.3,2524,6.3,6.3,6.2,6.3,6.1,6.6,0,1,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
7314,Due notti con Cleopatra,1954,1954-02-04,Comedy,78,Italy,Mario Mattoli,"Ruggero Maccari, Ruggero Maccari",Excelsa Film,"Sophia Loren, Alberto Sordi, Paul Muller, Nand...","Sophia Loren plays a dual role, as both the su...",4.9,262,4.9,7.7,5.2,4.9,5.0,5.2,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9684,Le legioni di Cleopatra,1959,1959-11-27,"Adventure,Drama,Romance",100,"Italy, Spain, France",Vittorio Cottafavi,"Vittorio Cottafavi, Giorgio Cristallini",Alexandra Produzioni Cinematografiche,"Linda Cristal, Ettore Manni, Georges Marchal, ...",Roman Emperor Octavian rules the empire from R...,5.6,212,5.6,5.5,6.1,5.5,5.7,5.0,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
11036,Cleopatra,1963,1964-01-30,"Biography,Drama,History",192,"Switzerland, UK, USA",Joseph L. Mankiewicz,"Joseph L. Mankiewicz, Ranald MacDougall",Twentieth Century Fox,"Elizabeth Taylor, Richard Burton, Rex Harrison...",Queen Cleopatra VII of Egypt experiences both ...,7.0,28653,7.0,7.2,7.0,7.0,7.0,7.2,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0
11299,Tot√≤ e Cleopatra,1963,1963-09-05,Comedy,100,Italy,Fernando Cerchio,"Fernando Cerchio, Bruno Corbucci",Euro International Film (EIA),"Tot√≤, Magali No√´l, Franco Sportelli, Moira Orf...","Mark Antony has a brother-lookalike, Totonno, ...",6.2,248,6.2,6.4,6.1,6.2,6.2,6.2,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
15107,Antony and Cleopatra,1972,1972-03-18,"Drama,History",138,"UK, Spain, Switzerland",Charlton Heston,Charlton Heston,Folio Films,"Charlton Heston, Hildegard Neil, Eric Porter, ...","After the murder of her lover Caesar, Egypt's ...",5.8,781,5.8,5.0,5.9,6.0,5.8,6.1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
15426,Cleopatra Jones,1973,1973-07-13,"Action,Crime,Thriller",89,USA,Jack Starrett,"Max Julien, Sheldon Keller",Warner Bros.,"Tamara Dobson, Bernie Casey, Brenda Sykes, Ant...","During the 1970s, U.S. Special Agent Cleopatra...",5.9,2567,5.9,6.3,5.9,5.8,5.9,6.4,0,0,0,0,0,0,0,0,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
16356,Cleopatra Jones and the Casino of Gold,1975,1975-07-11,Action,94,"Hong Kong, USA",Charles Bail,"Max Julien, Bill Tennant",Harbor Productions,"Tamara Dobson, Stella Stevens, Ni Tien, Norman...",When fellow operatives (and childhood friends)...,5.7,765,5.7,6.7,5.7,5.6,5.6,6.5,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
17732,Cleopatra Wong,1978,1978-11-10,"Action,Adventure,Crime",110,Philippines,Bobby A. Suarez,"Bobby A. Suarez, Romeo N. Galang",BAS Film Productions Inc.,"George Estregan, Dante Varona, Marrie Lee, Joh...","Singapore's top policewoman, Miss Cleopatra Wo...",5.8,143,5.8,5.5,6.3,5.6,5.8,4.6,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
31409,The Notorious Cleopatra,1970,1970-03-01,"Comedy,Drama",88,USA,Peter Perry Jr.,Jim Macher,Global Pictures,"Loray White, Johnny Rocco, Jay Edwards, Dixie ...",The story of egyptian princess Cleopatra's amo...,4.0,166,4.0,2.9,4.3,4.2,4.2,3.0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
31458,Cleopatra's Second Husband,1998,2000-10-13,Drama,92,USA,Jon Reiss,Jon Reiss,Cucoloris Films,"Paul Hipp, Bitty Schram, Jonathan Penner, Nanc...",Robert is an art photographer who is totally c...,4.8,240,4.8,5.0,4.4,5.0,4.9,4.8,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
40108,Cleopatra,2003,2003-08-14,"Comedy,Drama",104,"Spain, Argentina",Eduardo Mignogna,"Silvina Chague, Eduardo Mignogna",Televisi√≥n Federal (Telefe),"Norma Aleandro, Natalia Oreiro, Leonardo Sbara...",A retired teacher and a soap star leave their ...,6.7,574,6.7,6.6,6.7,6.6,6.6,7.4,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
78277,Antony & Cleopatra,2018,2018-12-06,Drama,220,UK,Simon Godwin,William Shakespeare,National Theatre,"Ralph Fiennes, Sophie Okonedo, Tim McMullan, T...",Caesar and his assassins are dead. General Mar...,7.3,325,7.3,7.4,7.3,6.9,7.3,7.3,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

---

### Recomenda√ß√£o

#### generalEquality("Nome do filme", "Coluna a ser ordenada (>)")

In [5]:
generalEquality(movie, '')

,Movie,Equity Genre,Equity Country,Equity Director,Equity Writer,Equity Company,Equity Actors,Equity Title,General (%)
87,Cleopatra,0.67,1.0,0.0,0.0,0.0,0.0,1.0,38.0
73,Intolerance: Love's Struggle Throughout the Ages,1.00,1.0,0.0,0.0,0.0,0.0,0.0,29.0
90,Joan the Woman,0.67,1.0,0.0,0.0,0.0,0.0,0.0,24.0
53,Martyrs of the Alamo,0.67,1.0,0.0,0.0,0.0,0.0,0.0,24.0
44,The Birth of a Nation,0.67,1.0,0.0,0.0,0.0,0.0,0.0,24.0
...,...,...,...,...,...,...,...,...,...
78,Schuhpalast Pinkus,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0
74,Judex,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27,Der Golem,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0
52,Maciste,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0
58,Les vampires,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0

---

### Outras fun√ß√µes

#### Recomendar por g√™nero

In [6]:
genreEquality(movie).sort_values(by='Equity Genre', ascending=False)

                                               Movie  Equity Genre
73  Intolerance: Love's Struggle Throughout the Ages          1.00
31                   In the Land of the Head Hunters          1.00
6                                         Quo Vadis?          1.00
53                              Martyrs of the Alamo          0.67
44                             The Birth of a Nation          0.67
..                                               ...           ...
69                                    The Half-Breed          0.00
67                                  The Good Bad-Man          0.00
65                                Flirting with Fate          0.00
58                                      Les vampires          0.00
0                                         Miss Jerry          0.00

[100 rows x 2 columns]

---

#### Verifica√ß√£o de filme com os mesmos g√™nero

In [7]:
genreEquals(movie) #Dentre os 1000 primeiro filmes

['Das Weib des Pharao',
 'Herr Arnes pengar',
 'In the Land of the Head Hunters',
 "Intolerance: Love's Struggle Throughout the Ages",
 'Nathan der Weise',
 'Novyy Vavilon',
 'Oktyabr',
 'Old Ironsides',
 'Quo Vadis?',
 'Romola',
 "Uncle Tom's Cabin"]